<!DOCTYPE html>
<html ng-app="pazaakApp">
    <head>
        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css"/>
        <link rel="stylesheet" href="pazaak.css">

        <script src="node_modules/jquery/dist/jquery.min.js" defer></script>
        <script src="node_modules/materialize-css/dist/js/materialize.min.js" defer></script>
        <script src="node_modules/angular/angular.min.js" defer></script>
        <script src="pazaak.js" defer></script>
    </head>
    <body ng-controller="pazaakController">

        <div ng-if="playerSideDeck.length === 10" class="acceptSideDeckButton">
            <button ng-click="acceptSideDeckSelection()" class="waves-effect waves-light btn">
                ACCEPT SIDE DECK
            </button>
        </div>

        <div class="row">
            <div class="col s3" ng-repeat="card in playerSideDeckSelection">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title centerText">
                            <span ng-if="card.sign">{{card.sign}}</span>{{card.value}}
                        </div>
                        <div class="card-title centerText">
                            Selected: {{card.numberSelected}}
                        </div>
                        <div>
                            <button ng-click="sideDeckChange(card, 'remove')" ng-disabled="card.numberSelected === 0" class="btn-floating red subtractCard">-</button>
                            <button ng-click="sideDeckChange(card, 'add')" ng-disabled="playerSideDeck.length === 10" class="btn-floating blue addCard">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>